.contents.row
  .container
    = form_for @stores do |form|
      %h3
        投稿する
      %p
        = form.text_field :name, placeholder: "Storename"
      %p
        = form.text_field :address, placeholder: "Address"
      %p
        = form.label "画像をアップロード"
        %br/
        = form.file_field :image

        -# = icon('fas', 'image', class: 'icon')
      %p
        = form.text_area :text, placeholder: "text", size:30, rows: "10"
      %p
        = form.submit "SEND"
