%body
  #home.big-bg
    %header.page-header.wrapper
      %h1
        = link_to root_path do
          %img.logo{:alt => "WCBカフェホーム", :src => "/assets/icon.takulog3.png"}/
      %nav
        %ul.main-nav
          %li
            - if user_signed_in?
              = link_to new_store_path do
                新規投稿
            %li
              = link_to stores_path do
                Menu

    .home-content.wrapper
      %h2.page-title Welcome to your record
      %p あなたによる、あなただけのグルメまとめ。信じるは自分の味覚のみ。
      %p
        - if user_signed_in?
          = link_to "Logout", destroy_user_session_path, method: :delete, class: "user-btn"
        - else
          = link_to "Login", new_user_session_path, class: "user-btn"
          = link_to "新規登録", new_user_registration_path, class: "user-btn"